.boo {
  border: 1px solid black;
  padding: 2px;
}

p {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1vw;
}

@media screen and (max-width: 920px) {
  p {
    font-size: 2.5vw;
  }
}

.bck {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

#remove {
  height: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

input,
button {
  padding: 5px;
}

button {
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

h3,
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

#bck:nth-child(even) {
  background-color: #f2f2f2;
}

#clock {
  text-align: right;
  width: 100%;
}

.bck,
.links-li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 100%;
}

.links-li {
  display: inline;
  padding-right: 10px;
  border-right: 1px solid black;
}

.links-li:hover {
  cursor: pointer;
}

#contact {
  border: none;
}

footer {
  position: absolute;
  bottom: 0;
  border: 1px solid black;
  width: 99%;
  left: 0;
  margin: inherit;
}

.addBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.boofirst,
#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#contacts,
li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
