.boo {
  border: 1px solid black;
  padding: 2px;
}

p {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1vw;
}

@media screen and (max-width: 920px) {
  p {
    font-size: 2.5vw;
  }
}

.bck {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

#remove {
  height: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input,
button {
  padding: 5px;
}

button {
  background-color: #f2f2f2;
  margin-left: 55%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3,
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

.bck:nth-child(even) {
  background-color: #f2f2f2;
}

li {
  list-style: none;
}
